<center><h2>கடவுச்ச்சொல் மாற்றம்</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "புதிய கடவுச்ச்சொல்" %><br />
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "கடவுச்சொல்லை உறுதி செய்" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "கடவுச்சொல்லை மாற்று" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</center>